html {
    background-color: rgb(46, 46, 46);
    font-family: "Comic Sans MS";
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    }


body {
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 

.container .qrbox .texte {
    border-radius: 20px;
    padding: 5px;
    margin: 30px;
    margin-bottom: 10px;
    background-color: #292929;
    color: azure;
    box-shadow: 0px 0px 5px 5px #222222;
    border: 0;
}

.container .qrbox .woah {
    border-radius: 16px;
}

.container .qrbox .submitters {
    scale: 1;
    padding: 10px 15px;
    margin: 20px;
    background-color: #292929;
    color: azure;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 5px 5px #222222;
    transition: scale 0.6s cubic-bezier(.08,.82,.17,1);
}

.container .qrbox .submitters:hover {
    transition: scale 0.6s cubic-bezier(.08,.82,.17,1);
    scale: 1.4;
}

.container .qrbox .submitters:active {
    transition: scale 0.4s cubic-bezier(.19,1,.22,1);
    scale: 0.75;
}

.container .qrbox {
    background-color: rgb(24, 24, 24);
    box-shadow: 0px 0px 90px 20px #000000;
}

.container .qrbox .qrheader .headd {
    padding: 20px;
}
.container div{
    font-family: "Comic Sans MS";
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: rgb(217, 217, 217);
}
